Repository bottlerocket-os/bottlerocket, pull requests merged in 2022-07, with the labels that each got.

#2267 ecs: add `iptables` rules for ECS introspection server
  packages/ecs-agent/ecs.service
Labels: ecs

#2271 kernel: add driver support for Cisco UCS platforms
  packages/kernel-5.10/config-bottlerocket-metal
  packages/kernel-5.15/config-bottlerocket-metal
Labels: metal

#2283 Docs: README Markdown linting
  README.md
Labels: type/documentation

#2281 netdog: Support versioning in `net.toml`
  sources/api/netdog/src/interface_name.rs
  sources/api/netdog/src/main.rs
  sources/api/netdog/src/net_config.rs
  sources/api/netdog/src/net_config/dhcp.rs
  sources/api/netdog/src/net_config/error.rs
  sources/api/netdog/src/net_config/mod.rs
  sources/api/netdog/src/net_config/v1.rs
  sources/api/netdog/src/wicked.rs
Labels: metal
